@import "tailwindcss";

@layer base {
  html, body {
    overscroll-behavior-y: none; /* Prevent pull-to-refresh */
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight on iOS */
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #18181b inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
